.introduction {
  /* background-color: var(--layout-palette3); */
  padding-bottom: 3rem;
  color: var(--layout-palette4);
}

.introduction--inner {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 0.7rem;
  overflow: hidden;
}

.introduction--title {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
  color: var(--layout-palette2);
}

.introduction--main {
  overflow: hidden;
  line-height: 1.5rem;
}

.introduction--main__item {
  display: inline-block;
  vertical-align: top;
}
.introduction--main__lf {
  width: calc(60% - 0.5rem);
  margin-right: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}
.introduction--main__rh {
  width: calc(40% - 0.5rem);
  margin-left: 0.5rem;
  font-size: 1.1rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .introduction--title {
    font-size: 2.5rem;
  }
  .introduction--main__item {
    width: 100%;
  }
  .introduction--main__lf {
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0;
  }
  .introduction--main__rh {
    margin-left: 0;
    padding-top: 0;
  }
}
