.jumbo {
  position: relative;
  background-color: #54a5e7;
  height: 70vh;
  z-index: 0;
  min-height: 23rem;
}

.jumbo .topbar {
  position: absolute;
  z-index: 9998;
  background-color: #015ca686;
}

.jumbo--background {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;

  background-size: cover;
  /* background-size: contain; */
  background-position: center center;
}

.jumbo--inner {
  /* position: relative; */
  display: block;
  height: calc(70vh - 4.5rem);
  min-height: 20rem;
}

.jumbo--overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: rgba(94, 135, 172, 0.45);
}

.jumbo--slogan {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 1px 1px 0 #65798a;
}

.jumbo .react-slideshow-container .default-nav:first-of-type,
.jumbo .react-slideshow-container .default-nav:last-of-type {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--layout-palette1);
  opacity: 0.6;
}

.jumbo .react-slideshow-container .default-nav:first-of-type svg,
.jumbo .react-slideshow-container .default-nav:last-of-type svg {
  fill: azure;
}

.jumbo .react-slideshow-container .default-nav:first-of-type:hover,
.jumbo .react-slideshow-container .default-nav:last-of-type:hover {
  /* fill: azure; */
  opacity: 0.9;
}

.jumbo .react-slideshow-container .default-nav:first-of-type {
  left: 5%;
}

.jumbo .react-slideshow-container .default-nav:last-of-type {
  right: 5%;
}

@media only screen and (max-width: 600px) {
  .jumbo {
    height: 80vh;
  }

  .jumbo--slogan {
    font-size: 3rem;
  }

  .jumbo .react-slideshow-container .default-nav:first-of-type,
  .jumbo .react-slideshow-container .default-nav:last-of-type {
    bottom: 5%;
  }

  .jumbo .react-slideshow-container .default-nav:first-of-type {
    left: 35%;
  }

  .jumbo .react-slideshow-container .default-nav:last-of-type {
    right: 35%;
  }
}
