.studio {
  position: relative;
  margin: 0 auto;
  max-width: var(--layout-max-width);
}

.studio .react-slideshow-container .default-nav:first-of-type,
.studio .react-slideshow-container .default-nav:last-of-type {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--layout-palette1);
  opacity: 0.9;
}

.studio .react-slideshow-container .default-nav:first-of-type svg,
.studio .react-slideshow-container .default-nav:last-of-type svg {
  fill: azure;
}

.studio .react-slideshow-container .default-nav:first-of-type:hover,
.studio .react-slideshow-container .default-nav:last-of-type:hover {
  /* fill: azure; */
  opacity: 0.9;
}

.studio .react-slideshow-container .default-nav:first-of-type {
  left: 5%;
}

.studio .react-slideshow-container .default-nav:last-of-type {
  right: 5%;
}
