.team {
  background-color: var(--layout-palette3);
  padding-bottom: 5rem;
  color: var(--layout-palette4);
}

.team--inner {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 0.7rem;
  overflow: hidden;
}

.team--title {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
  color: var(--layout-palette2);
}

.team--column {
  float: left;
  width: 50%;
  text-align: right;
}

.team--column:first-child {
  text-align: left;
}

.team--column-inner {
  overflow: hidden;
}

.team--column:first-child .team--column-inner {
  border-right: 0.0625rem solid var(--layout-palette1);
}

.team--mate {
  float: right;
  border-radius: 0.3125rem;
  box-shadow: 0px 0.0625rem 0.125rem var(--layout-palette2);
  vertical-align: top;
}

.team--mate--left {
  margin-right: 1.5rem;
}

.team--mate--right {
  margin-left: 1.5rem;
}

.team--mate--left {
  text-align: left;
}

.team--mate--right {
  text-align: right;
}

.team--mate--left {
  float: left;
}

.team--description {
  text-align: justify;
  line-height: 1.4rem;
}

.team--description--left {
  padding-right: 2rem;
}

.team--description--right {
  padding-left: 2rem;
}

.team--column:first-child .team--description {
  float: left;
}

.team--mate--text-left,
.team--mate--text-right {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .team--column {
    float: none;
    width: 100%;
    text-align: left;
  }

  .team--column:first-child .team--column-inner {
    border-right: none;
    border-bottom: 0.0625rem solid var(--layout-palette1);
    margin-bottom: 1rem;
  }

  .team--description--left {
    padding: 1rem;
  }

  .team--description--right {
    padding: 1rem;
  }

  .team--mate {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .team--mate--text-right {
    text-align: left;
  }

  .team--mate--text-left,
  .team--mate--text-right {
    margin: 2rem 0;
    text-align: center;
  }
}
